process.executor = "local"
def defaultReferenceRoot = "/mnt/db/reference_files"

docker {
    enabled = true
    runOptions = "--gpus all -v ${params.rfdiffusion_models_dir}:/models:ro"
}

params {
    publish_dir = "output"
    rfdiffusion_image = "ovo-rfdiffusion:latest"
    rfdiffusion_models_dir = "${System.getenv('MN_PROTEIN_DESIGN_REFERENCE_DIR') ?: defaultReferenceRoot}/rfdiffusion_models"
}
